.button{
    color: white;
    background: linear-gradient(166deg, $color-secondary, $color-primary);
    border: none;
    border-radius: 1.6rem;
    padding: 1rem;
    margin:1rem 4.5rem 3.5rem 4.5rem;  
}