
body{
    font-family: $font-family-texte;
    margin:0;
    display: flex;
    flex-direction: column;
}
img{
    max-width: 100%;
    object-fit: cover;
}
a{
    text-decoration:none;
    color:black;
}
