.presentation{
    background-color: $color-background-grey;
    display:flex;
    flex-direction:column;
    text-align:center;

    &__titre{
    font-weight:bold;
    margin-bottom: 1rem;
    margin-top: 2.5rem;
}
    &__reservation{
    color: $grey-texte;
    margin-top: 0;
}
}
.button{
    padding: 1rem;
    margin:1rem 4.5rem 3.5rem 4.5rem; 
}
.fonctionnement{
    padding: 1.5rem 0.5rem 2rem 1.5rem;

    &__titre{
    margin-bottom:1rem;
}
    &__liste{
    padding:0;
    @include flex-center;
    flex-direction:column;
}
    &__element{
    @include flex-center;
    align-items: center;
    font-weight: bold;
    background-color: $color-background-grey;
    box-shadow: 2px 2px 5px $color-input;
    border-radius: 1rem; 
    margin:0.5rem 1rem 1rem 1rem;
    padding:1.5rem 4rem 1.5rem 0rem;
    &:hover{
        background: $color-fonctionnement-hover;
    }
    &:hover i {
        color:$color-primary;
    }
}
    &__puce{
    @include flex-center;
    align-items: center;
    position:absolute;
    left:1.8rem;
    margin-right:1.5rem;
    background-color:$color-primary;
    color:white;
    font-size:small;
    border-radius: 100%;
    width: 1rem;
    height: 1rem;
    padding: 0.3rem;
}
    &__logo{
    margin-right:1.5rem;
    margin-left: 2rem;
    color:$grey-texte; 
}
}
.restaurant{
    background-color:$color-background-grey;

     &__titre{
      padding-left:1.3rem;
      padding-top:2rem;
   }
     &__bloc{
         color: black;
     }
     &__carte{  
        background-color:white;
        width:90%;
        position: relative;
        margin:auto;
        margin-bottom: 1.5rem;
        border-radius: 1rem;
        overflow: hidden;
        box-shadow: 2px 2px 5px #C0C0C0;
    }
     &__image{
        height: 14rem;
        width: 100%;
    }
     &__etiquette{
        position: absolute;
        right: 15px;
        top: 10px;
        font-weight: bold;
        padding: 0.6rem;
        background-color: $color-tertiary;
        color: $dark-etiquette-color;
    }
     &__footer{
        display: flex;
        justify-content: space-between;
    }
     &__description{
        padding:0.8rem 0rem 1rem 0.8rem;
    } 
     &__nom{
        margin:0;
        padding-bottom:0.3rem;
    }
     &__ville{
        margin:0;
    }
  .fa-heart{
    padding-right:2rem;
    color: #5c5c5c;
    padding-top: 1rem;
    font-size: xx-large;
  }            
}

@media screen and (min-width:600px) {
    .restaurant__bloc{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: .5rem;
        margin-right: .5rem;
    }
    .button{
        margin-left: 10rem;
        margin-right: 10rem;
    }
}
@media screen and (min-width:900px){
    .button{
        margin-left: 18rem;
        margin-right: 18rem;
    }
    .fonctionnement__liste{
        flex-direction: row;
        justify-content: space-evenly;
    }
    .fonctionnement__element{
        padding: 1.5rem 1rem 1.5rem 1rem;
        white-space: nowrap;
    }
}
@media screen and (min-width:1200px) {
       body{
        align-items: center;
    }
}