.description{
  display: flex;
  justify-content: space-between;
  &__main{
    background: $color-background-grey;
  border-radius: 2rem 2rem 0 0;
  }

  &__bloc{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $color-background-grey;
  border-radius: 2rem 2rem 0 0;
  width: 100%;
}
  &__titre{
  font-family: $font-family-logo;
  padding-left: 1.5rem;
  padding-top: 0.5rem;

}
}
.fa-heart{
  padding-right:2rem;
  color: #5c5c5c;
  font-size: xx-large;
}

.menu{
  background: $color-background-grey;
  &__titre{
  margin: 0;
  text-transform: uppercase;
  color: $grey-texte;
  font-weight: lighter;
  font-size: 19px;
  padding: 1rem 1.5rem 0.5rem 1rem;
}
  &__underline{
    border-bottom: 0.2rem solid $color-tertiary ;
    padding-bottom: 0.3rem;
  }
  &__liste{
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}
  &__puce{
  list-style-type:none;
  border-radius: 1rem;
  background: white;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-top: 0.8rem;
  line-height: 1.5rem;
}
  &__plat{
  margin: 0;

}
  &__bloc{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.7rem;
}
  &__description{
  margin: 0;
}
  &__texte{
  margin: 0;
  white-space: nowrap;
}
  &__prix{
  padding-right: 1rem;
  font-weight: bold;

}
}
.btn{
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  &__button{
  @include button;   /*@include button($margin,$padding)*/
  margin: 1rem;
  padding: 1rem 3rem;
}
}
.main{
  margin-top: -3rem;
  background-color: $color-background-grey;
}

