@keyframes loader {
  /*Animation chargement*/
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.5rem);
  }
  75% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}

@for $i from 1 through 4 {
  /*Animation menu*/
  .menu__puce:nth-child(#{$i}) {
    animation-delay: #{$i * 0.3}s;
  }
}

@keyframes apparition {
  0% {
    transform: translateY(10px);
    opacity: 0%;
  }
  100% {
    transform: translateY(0px);
    opacity: 100%;
  }
}
