@mixin header{
    @include flex-center;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    background-color:white;
}
@mixin flex-center{
    display: flex;
    justify-content: center;
}
@mixin button{        /*@mixin button($margin,$padding)*/
    color: white;
    background: linear-gradient(166deg, $color-secondary, $color-primary);
    border: none;
    border-radius: 1.6rem;
    margin: 1rem 4.5rem 3.5rem 4.5rem; 
    &:hover{
        background:$hover-button;
        box-shadow: 3px 6px #c3c3c3;
    }
}
@mixin footer {
    background-color: $color-background-footer;
    color:white;
    padding-bottom: 1.3rem;
    &__titre{
    font-family:$font-family-logo;
    padding-left: 2rem;
    padding-top: 1.5rem;
    margin:0;
 }
    &__liste{
    padding-left:2rem;
    line-height: 1.5rem;
    color: white;
 }
    &__puce{
    list-style-type: none;
    }
    &__logo1{
        padding-right: 1rem; 
      }
      &__logo2{
        padding-right: 0.5rem; 
      }
    &__lien{
    color:white;
 }
}
@mixin flexbox ($justify, $aligns) {
    display: flex;
    justify-content: $justify;
    align-items: $aligns;
}
@mixin marges ($margin, $padding){
    margin:$margin;
    padding:$padding;
}