footer{
    background-color: rgb(53, 53, 53);
    color:white;
    padding-bottom: 1.3rem;
    margin:0;
}
.footer__titre{
    font-family:"shrikhand";
    padding-left: 2rem;
    padding-top: 1.5rem;
    margin:0;
}
.footer__lien{
    color:white;
    margin-left:0/5rem;
}
.footer__liste{
    padding-left:2rem;
}
.footer__puce{
    list-style-type: none;
}
footer i{
    font-size:small;
}