
header{
    @include flex-center;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    background-color:white;
    max-width: 100%;
}
.header{
    display: flex;
    align-items: center;

    &__bloc{
    display: flex;
    align-items: center;
 }
    &__retour{
    padding-right: 4rem;
 }
    &__image{
    padding-right: 4rem;
 }
}


