header {
  @include header;
  max-width: 100%;
}
.header {
  display: flex;
  align-items: center;

  &__bloc {
    display: flex;
    align-items: center;
  }
  &__retour {
    padding-right: 4rem;
  }
  &__image {
    padding-right: 4rem;
  }
}
